{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "make release builddir=dist/release version=${nextRelease.version}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "dist/release/*.zip", "label": "Mixxx distribution"}
      ]
    }]
  ]
}
