name: Test & Release

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv
      - name: Check code quality
        shell: devenv shell bash -- -e {0}
        run: |
          make check-all
      - name: Compile
        shell: devenv shell bash -- -e {0}
        run: make
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: mixxx-launchpad-${{ github.sha }}-${{ github.run_id }}
          path: dist

  release:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref_type == 'branch' && github.ref_name == 'main'
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: mixxx-launchpad-${{ github.sha }}-${{ github.run_id }}
          path: dist
      - name: Create release
        shell: devenv shell bash -- -e {0}
        run: bunx semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
